* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

header h1 {
  text-align: center;
  margin-bottom: 32px;
}

form {
  display: flex;
  flex-direction: column;
}

@media (width > 425px) {
  form {
    flex-direction: row;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.movies {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-content: start;
  justify-items: center;
  gap: 16px 50px;
}

.movie {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
}

.movies h3 {
  color: #e9eebfc9;
  font-weight: 700;
}

.movies p {
  color: rgba(190, 202, 198, 0.945);
  font-family: monospace;
  font-size: 1rem;
  margin-bottom: 18px;
}

.movies img {
  box-shadow: 2px 2px 3px 0px rgb(0 0 0 / 54%);
  border-radius: 8px;
}

input {
  width: 278px;
  margin: 0;
}

button {
  margin: 0;
}
